# build artefacts
build/
*.o
*.obj
*.so
*.dylib
*.qmod

# editor junk
*.swp
*~
.vscode/
.idea/

# doxygen output
docs/html/
docs/latex/

# OS
.DS_Store

# Debian package build products
/obj-*/
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/qore-proj-module/
/debian/qore-proj-module-doc/
/debian/tmp/
**/__pycache__/
